

#label_ticker {
    -fx-text-fill: orange;
    -fx-font-weight: bold;
    -fx-font-size: 18;
}

#label_error {
    -fx-text-fill: red;
    -fx-font-weight: bold;
    -fx-font-size: 18;
}

.header_label {
    -fx-text-fill: orange;
    -fx-font-weight: bold;
    -fx-font-size: 16;
}

#label_loading {
    -fx-text-fill: orange;
    -fx-font-weight: bold;
    -fx-font-size: 16;
}

.label{
 -fx-text-fill: orange
 }

.root {
 -fx-background-color: #19182F;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
    -fx-border-color: transparent;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.tab-pane {
    -fx-tab-min-width:90px;
}

.tab {
    -fx-background-insets: 0 1 0 1,0,0;
    -fx-border-color: transparent;
}

.tab-pane .tab {
    -fx-background-color: linear-gradient(#000000, #19182F);
    -fx-border-color: orange;
    -fx-border-width: 0 0 1 0;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #E2E2E3;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab-pane .tab:selected {
    -fx-background-color: linear-gradient(#35343F, #19182F);
    -fx-border-color: orange;
    -fx-border-width: 1 1 0 1;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}

.radio-button {
   -fx-text-fill: white
}

.radio-button .radio {
    -fx-background-color: black;
    -fx-border-color: orange;
    -fx-border-radius: 130px;
}

.radio-button:selected .radio {
    -fx-background-color: black;
    -fx-outline-color: orange;
}

.radio-button:selected .radio .dot{
 -fx-background-color: orange;
    -fx-background-insets: 0;
}

.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: linear-gradient(orange, #3c3c3c);
}

.button {
    -fx-background-color:
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}
.button:pressed{
    -fx-background-color:
        #000000,
        linear-gradient(#7ebcea, #15295B),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#2D4987, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.button Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
}

.table-view{
   -fx-background-color: transparent;
}

.table-view .filler{
    -fx-background-color: transparent;
    -fx-border-color: orange;
    -fx-border-width: 1 0 1 0;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#35343F, #19182F);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-color: orange;
    -fx-border-width: 1 0 1 0;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #19182F;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

.table-view .scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color : orange;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 5.0em;
}


.choice-box .context-menu {
    -fx-background-color: black;
}

.choice-box .menu-item:focused {
    -fx-background-color: orange;
}

.choice-box .menu-item > .label {
    -fx-text-fill: white;
}

.choice-box .menu-item:focused > .label {
    -fx-text-fill: black;
}

.choice-box {
    -fx-background-color: black;
    -fx-mark-color: orange; // arrow color
}

.choice-box > .label {
    -fx-text-fill: white;
}

.text-field {
    -fx-border-color: transparent;
    -fx-border-width: 1 1 1 1;
    -fx-background-color: #D8D8D8;
    -fx-text-fill: black;
}

.text-field:focused{
    -fx-border-color: orange;
    -fx-border-width: 1 1 1 1;
}

.slider > .thumb {
    -fx-background-color:orange
}

.slider:focused > .thumb {
    -fx-color: -fx-focused-base;
    -fx-background-color: orange
}

.slider > .thumb:hover {
    -fx-color: -fx-hover-base;
}

.slider .axis { -fx-tick-label-fill: orange; }

.slider .axis .axis-tick-mark, .slider .axis .axis-minor-tick-mark {
    -fx-fill: null;
    -fx-stroke: orange;
}

.text-area {
    -fx-font-family: Consolas;
    -fx-font-size: 15;
    -fx-text-fill: #ffffff;
    -fx-display-caret:true;
}

.text-area .content {
    -fx-background-color: #000000;
}
